{:paths ["resources" "src/clj" "src/clj-styles"]
 :deps {org.clojure/clojure            {:mvn/version "RELEASE"}
        org.clojure/clojurescript      {:mvn/version "1.10.516"}
        org.clojure/core.async         {:mvn/version "0.4.500"}
        compojure                      {:mvn/version "1.6.1"}
        yogthos/config                 {:mvn/version "1.1.5"}
        ring                           {:mvn/version "1.7.1"
                                        ;; since we are using our own fork of tools.namespace
                                        ;; called jpmonettas/tools.namespace
                                        :exclusions [org.clojure/tools.namespace]
                                        }
        ring-cors                      {:mvn/version "0.1.13"}
        datascript                     {:mvn/version "0.17.1"}
        lambdaisland/garden-watcher    {:mvn/version "0.3.3"}
        com.taoensso/sente             {:mvn/version "1.14.0"}
        http-kit                       {:mvn/version "2.3.0"}

        clindex                        {:mvn/version "0.2.3"}
        ;; clindex                        {:local/root "/home/jmonetta/my-projects/clindex"}
        }}
