{:deps true
 :dev-http {9500 "resources/public/"}
 :builds {:app {:output-dir "resources/public/js/"
                :asset-path "/js"
                :target :browser
                :compiler-options {:output-feature-set :es6
                                   ;; addvance is currently not working since datascript queries
                                   ;; doesn't work when attributes are of type symbol
                                   :optimizations :simple}
                :modules {:main {:init-fn clograms.core/init}}
                :devtools {:after-load clograms.core/mount-root}}}}
