{:deps {:aliases [:dev]}
 :dev-http {9500 "resources/public/"}
 :nrepl {:port 9000}
 :builds {:app {:output-dir "resources/public/js/"
                :asset-path "/js"
                :target :browser
                :compiler-options {:output-feature-set :es6
                                   ;; addvance is currently not working since datascript queries
                                   ;; doesn't work when attributes are of type symbol
                                   ;; solution
                                   ;; https://github.com/tonsky/datascript/issues/298#issuecomment-492695732
                                   :optimizations :simple}
                :modules {:main {:init-fn clograms.core/init}}
                :devtools {:after-load clograms.core/mount-root}
                :release {:compiler-options {:optimizations :simple}}}}}
