.diagram-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #504945;
}

.diagram-layer > * {
  height: 100%;
}

.diagram-layer .custom-node {
  padding: 5px;
  border-radius: 5px;
}

.diagram-layer .project-node {
  background-color: #689d6a;
}

.diagram-layer .namespace-node {
  background-color: #b16286;
}

.diagram-layer .var-node {
  background-color: #458588;
}

.diagram-layer .var-node .var-name {
  font-weight: bold;
}

.diagram-layer .var-node .source {
  max-width: 500px;
  font-size: 10px;
  max-height: 200px;
}

body {
  font-size: 11px;
  color: #EEE !important;
}

body ul {
  list-style: none;
  padding: 0;
}

body .project-name {
  opacity: 0.5;
  margin-left: 5px;
}

body .namespace-name {

}

.entity-selector {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 3%;
  margin-left: -300px;
}

.entity-selector input {
  background-color: #3c3836;
  color: #EEE;
}

.entity-selector .rc-typeahead-suggestion {
  background-color: #3c3836;
}

.entity-selector .rc-typeahead-suggestion.active {
  background-color: #665c54;
}

.entity-selector .rc-typeahead-suggestion .namespace-name {
  color: #d3869b;
}

.side-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;
  background-color: #3c3836;
  z-index: 10;
}

.side-bar .side-bar-tabs {

}

.side-bar .side-bar-tabs li {

}

.side-bar .side-bar-tabs li a {
  padding: 5px;
}

.side-bar .side-bar-tabs li.active {

}

.side-bar .side-bar-tabs li.active a {
  color: #EEE;
  background-color: #3c3836;
}

.side-bar .side-bar-tabs li a {
  color: #EEE;
}

.side-bar .projects-browser {
  overflow-y: scroll;
  height: 95%;
}

.side-bar .projects-browser .head-bar {

}

.side-bar .projects-browser .head-bar .back {
  background-color: rgb(60,60,60);
  margin: 5px;
}

.side-bar .projects-browser .head-bar .browser-selection {
  font-size: 11px;
  padding: 3px;
  border-radius: 5px;
}

.side-bar .projects-browser .head-bar .browser-selection.namespaces {
  background-color: #689d6a;
}

.side-bar .projects-browser .head-bar .browser-selection.vars {
  background-color: #b16286;
}

.side-bar .projects-browser .draggable-entity {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.side-bar .projects-browser .draggable-project {
  background-color: #689d6a;
}

.side-bar .projects-browser .draggable-namespace {
  background-color: #b16286;
}

.side-bar .projects-browser .draggable-var {
  background-color: #458588;
}