.diagram-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #504945;
}

.diagram-wrapper .diagram-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.diagram-wrapper .diagram-layer > * {
  height: 100%;
}

.diagram-wrapper .diagram-layer .custom-node {
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.diagram-wrapper .diagram-layer .port {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 3px;
  background-color: #3c3836;
  color: transparent;
}

.diagram-wrapper .diagram-layer .port:hover {
  background-color: yellow !important;
  cursor: crosshair;
}

.diagram-wrapper .diagram-layer .node.selected .port {
  background-color: yellow;
}

.diagram-wrapper .diagram-layer .node .node-wrapper {

}

.diagram-wrapper .diagram-layer .node .node-wrapper .node-comment {
  position: absolute;
  opacity: 0.5;
  border-radius: 3px;
  background-color: #3c3836;
  margin-left: 5%;
  width: 90%;
}

.diagram-wrapper .diagram-layer .node-body {
  display: inline-block;
  color: #eee;
}

.diagram-wrapper .diagram-layer .node-body .source {
  max-width: 500px;
  font-size: 10px;
  max-height: 200px;
  border: unset;
  background-color: #eee;
}

.diagram-wrapper .diagram-layer .node-body .spec-source {
  max-width: 500px;
  font-size: 9px;
  opacity: 0.7;
  max-height: 100px;
  border: unset;
  background-color: #eee;
}

.diagram-wrapper .diagram-layer .node-body .header {

}

.diagram-wrapper .diagram-layer .node-body .header .title {
  white-space: nowrap;
}

.diagram-wrapper .diagram-layer .node-body .header .dispatch-val {
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
}

.diagram-wrapper .diagram-layer .project-node {
  background-color: #689d6a;
}

.diagram-wrapper .diagram-layer .project-node .port {
  background-color: #689d6a;
}

.diagram-wrapper .diagram-layer .namespace-node {
  background-color: #b16286;
}

.diagram-wrapper .diagram-layer .namespace-node .port {
  background-color: #b16286;
}

.diagram-wrapper .diagram-layer .namespace-node .namespace-doc {
  max-width: 500px;
  font-size: 10px;
  max-height: 200px;
  background-color: #b16286;
  padding: 0;
  border: unset;
  color: #eee;
  opacity: 0.7;
}

.diagram-wrapper .diagram-layer .var-node {
  background-color: #458588;
}

.diagram-wrapper .diagram-layer .var-node .port {
  background-color: #458588;
}

.diagram-wrapper .diagram-layer .var-node .var-name {
  font-weight: bold;
}

.diagram-wrapper .diagram-layer .re-frame-node {
  background-color: #896dad;
}

.diagram-wrapper .diagram-layer .spec-node {
  background-color: #c17055;
}

body {
  background-color: #504945 !important;
  color: #eee !important;
}

body .app-wrapper {
  font-size: 12px;
  font-family: droid_sansregular;
}

body .app-wrapper.loading {
  opacity: 0.5;
}

body .app-wrapper .collapse-button {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 3px;
}

body .app-wrapper .tool-bar {
  background-color: #3c3836;
  border-color: #777;
}

body .app-wrapper input {
  background-color: #777;
  color: #EEE;
  border: none;
  padding-left: 2px;
  height: 23px;
  border-radius: 3px;
}

body .app-wrapper .context-menu {
  background: #3c3836;
  min-width: 200px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 11px;
}

body .app-wrapper .context-menu ul {
  padding: 10px;
}

body .app-wrapper .context-menu ul li {
  padding: 4px;
  cursor: pointer;
}

body .app-wrapper .context-menu ul li:hover {
  background-color: #5373A2;
}

body .app-wrapper ul {
  list-style: none;
  padding: 0;
}

body .app-wrapper .project-name {
  whitespace: nowrap;
}

body .app-wrapper .namespace-name {

}

body .app-wrapper .var-name {

}

body .app-wrapper .draggable-entity {
  padding: 4px;
  border-radius: 3px;
  margin: 5px;
  background-color: #504945;
  font-size: 11px;
  cursor: no-drop;
}

body .app-wrapper .draggable-project {
  background-color: #689d6a;
}

body .app-wrapper .draggable-project.main-project {
  border-width: 2px;
}

body .app-wrapper .draggable-namespace {
  background-color: #b16286;
}

body .app-wrapper .draggable-var {
  background-color: #458588;
}

body .app-wrapper .draggable-var .var {
  display: inline-block;
  margin-right: 4px;
  width: 7px;
  height: 7px;
  border-radius: 3px;
}

body .app-wrapper .draggable-var .var.private {
  background-color: #cc241d;
}

body .app-wrapper .draggable-var .var.public {
  background-color: greenyellow;
}

body .app-wrapper .draggable-var .var-type {
  margin-right: 3px;
}

body .app-wrapper .draggable-re-frame-feature {
  background-color: #896dad;
}

body .app-wrapper .draggable-spec {
  background-color: #c17055;
}

.top-bar {
  position: absolute;
  z-index: 10;
  padding: 5px;
  height: 37px;
  border-radius: 3px;
  display: inline-flex;
}

.top-bar .save {
  background-color: #504945;
  border-radius: 3px;
  font-size: 18px;
  padding: 0px 4px 0 4px;
  height: 23px;
}

.top-bar label {
  margin-right: 3px;
}

.top-bar .entity-selector {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.top-bar .entity-selector .type-ahead-wrapper {
  display: inline-block;
}

.top-bar .entity-selector .type-ahead-wrapper .search-icon {
  background-color: #504945;
  border-radius: 3px 0px 0px 3px;
  padding: 4px;
  font-size: 15px;
}

.top-bar .entity-selector .type-ahead-wrapper input {
  border-radius: 0px 3px 3px 0px;
}

.top-bar .entity-selector .type-ahead-wrapper .entity-type {
  margin-left: 5px;
}

.top-bar .entity-selector .type-ahead-wrapper .project-name {
  margin-left: 3px;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.var .var-name {
  font-weight: bold;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.var .entity-type {
  color: #458588;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.var .project-name {
  opacity: 0.5;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.var .namespace-name {
  opacity: 0.5;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.namespace .namespace-name {
  font-weight: bold;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.namespace .entity-type {
  color: #b16286;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.namespace .project-name {
  opacity: 0.5;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.project .entity-type {
  color: #689d6a;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.project .project-name {
  font-weight: bold;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.spec .entity-type {
  color: #c17055;
}

.top-bar .entity-selector .type-ahead-wrapper .selector-option.spec .spec-key {
  font-weight: bold;
}

.top-bar .entity-selector .type-ahead-wrapper .rc-typeahead {
  display: inline-block;
}

.top-bar .entity-selector .type-ahead-wrapper .rc-typeahead .rc-typeahead-suggestion {
  background-color: #3c3836;
}

.top-bar .entity-selector .type-ahead-wrapper .rc-typeahead .rc-typeahead-suggestion.active {
  background-color: #5373A2;
}

.top-bar .color-selector {
  display: inline-block;
  border-radius: 3px;
  height: 23px;
  margin: 0;
  overflow: hidden;
}

.top-bar .color-selector .selectable-color {
  display: inline-block;
  width: 30px;
  height: 100%;
}

.top-bar .color-selector .selectable-color.selected {
  border: 1px solid orange;
}

.top-bar .link-arrows-selector {
  overflow: hidden;
  border-radius: 3px;
  height: 23px;
  margin-left: 5px;
  background-color: #504945;
}

.top-bar .link-arrows-selector .button {
  padding: 5px;
  margin-top: 3px;
}

.top-bar .link-arrows-selector .button.selected {
  background-color: #5373A2;
}

.top-bar .link-arrows-selector .button i {
  font-size: 15px;
  margin-top: 5px;
}

.side-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 350px;
  z-index: 10;
  padding: 5px;
}

.side-bar .side-bar-tabs {

}

.side-bar .side-bar-tabs li {

}

.side-bar .side-bar-tabs li a {
  padding: 5px;
}

.side-bar .side-bar-tabs li.active {

}

.side-bar .side-bar-tabs li.active a {
  color: #EEE;
  background-color: #3c3836;
}

.side-bar .side-bar-tabs li a {
  color: #EEE;
}

.side-bar .projects-browser {
  overflow-y: scroll;
  height: 95%;
}

.side-bar .projects-browser .head-bar {
  background-color: #504945;
  padding: 2px;
  border-radius: 3px;
}

.side-bar .projects-browser .head-bar .back {
  background-color: #504945;
  margin: 5px;
  font-size: 14px;
}

.side-bar .projects-browser .head-bar .browser-selection {
  font-size: 11px;
  padding: 3px;
  border-radius: 3px;
}

.side-bar .selected-browser {
  overflow-y: scroll;
  height: 95%;
}

.side-bar .selected-browser .header {
  font-weight: bold;
  margin-left: 5px;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
  width: 74%;
  z-index: 10;
}

.bottom-bar .header {
  padding: 5px;
  border-bottom: 1px solid #777;
}

.bottom-bar .header .title {
  width: 95%;
  display: inline-block;
}

.bottom-bar .header .collapse-button {
  background-color: #504945;
}

.bottom-bar .body {
  max-height: 300px;
  overflow-y: scroll;
}

.bottom-bar .body.collapsed {
  display: none;
}

.bottom-bar .body .references {
  padding: 5px;
}

.bottom-bar .body .references li.even {
  background-color: #403b39;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-overlay .spinner-outer {
  width: 104px;
  height: 104px;
  z-index: 5;
}

.loading-overlay .spinner-outer .text {
  z-index: 10;
  position: relative;
  top: 27px;
  left: 23px;
}

.loading-overlay .spinner-outer .spinner-path {
  stroke-dasharray: 170;
  stroke-dashoffset: 20;
}

.loading-overlay .spinner-outer .spinner-inner {
  animation: rotate 1.4s linear infinite;
  width: 104px;
  height: 104px;
  top: -36px;
  position: relative;
}

@keyframes rotate {

  to {
    transform: rotate(360deg);
  }

}

.node-debug {
  position: absolute;
  top: -83px;
  font-size: 10px;
  opacity: 0.5;
  z-index: 10000;
}

.debug-bar {
  position: absolute;
  height: 100px !important;
  bottom: -50px;
  left: 10px;
}

.accordion .item {
  border-radius: 3px;
  border-color: #777;
  padding: 2px;
  cursor: pointer;
}

.accordion .item .body {
  display: none;
}

.accordion .item.active {
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #504945;
  border-radius: 3px;
}

.accordion .item.active .body {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.tree .childs {
  margin-left: 5px;
}

.tree.re-frame-feature .namespace {
  font-size: 12px;
}

.tree.re-frame-feature .namespace .project-name {
  font-size: 10px;
  opacity: 0.7;
}