.diagram-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #504945;
}

.diagram-wrapper .diagram-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.diagram-wrapper .diagram-layer > * {
  height: 100%;
}

.diagram-wrapper .diagram-layer .custom-node {
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.diagram-wrapper .diagram-layer .port {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 3px;
  background-color: red;
  color: transparent;
}

.diagram-wrapper .diagram-layer .port:hover {
  background-color: yellow !important;
  cursor: crosshair;
}

.diagram-wrapper .diagram-layer .node.selected {
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 3px;
}

.diagram-wrapper .diagram-layer .node-body {
  display: inline-block;
}

.diagram-wrapper .diagram-layer .project-node {
  border: 2px solid #458588;
}

.diagram-wrapper .diagram-layer .project-node .port {
  background-color: #458588;
}

.diagram-wrapper .diagram-layer .namespace-node {
  border: 2px solid #b16286;
}

.diagram-wrapper .diagram-layer .namespace-node .port {
  background-color: #b16286;
}

.diagram-wrapper .diagram-layer .var-node {
  border: 2px solid #689d6a;
}

.diagram-wrapper .diagram-layer .var-node .port {
  background-color: #689d6a;
}

.diagram-wrapper .diagram-layer .var-node .var-name {
  font-weight: bold;
}

.diagram-wrapper .diagram-layer .var-node .source {
  max-width: 500px;
  font-size: 10px;
  max-height: 200px;
  background-color: #eee;
}

body {
  font-size: 11px;
  background-color: #504945 !important;
  color: #eee !important;
}

body .app-wrapper.loading {
  opacity: 0.5;
}

body .app-wrapper .context-menu {
  background: #3c3836;
  min-width: 200px;
  border-radius: 3px;
  overflow: hidden;
}

body .app-wrapper .context-menu ul li {
  padding: 10px;
  cursor: pointer;
}

body .app-wrapper .context-menu ul li:hover {
  background-color: #665c54;
}

body .app-wrapper ul {
  list-style: none;
  padding: 0;
}

body .app-wrapper .project-name {

}

body .app-wrapper .namespace-name {

}

body .app-wrapper .var-name {

}

body .app-wrapper .draggable-entity {
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  background-color: #504945;
  font-size: 11px;
  cursor: no-drop;
}

body .app-wrapper .draggable-project {
  border: 1px solid #458588;
}

body .app-wrapper .draggable-project.main-project {
  border-width: 2px;
}

body .app-wrapper .draggable-namespace {
  border: 1px solid #b16286;
}

body .app-wrapper .draggable-var {
  border: 1px solid #689d6a;
}

body .app-wrapper .draggable-var .var {
  display: inline-block;
  margin-right: 4px;
  width: 7px;
  height: 7px;
  border-radius: 3px;
}

body .app-wrapper .draggable-var .var.private {
  background-color: #cc241d;
}

body .app-wrapper .draggable-var .var.public {
  background-color: #98971a;
}

.top-bar {
  position: absolute;
  z-index: 10;
  background-color: #3c3836;
  padding: 5px;
  border-radius: 3px;
  display: inline-flex;
}

.top-bar label {
  margin-right: 3px;
}

.top-bar .entity-selector {
  display: inline-block;
}

.top-bar .entity-selector .type-ahead-wrapper {
  display: inline-block;
}

.top-bar .entity-selector .type-ahead-wrapper .project-name {
  margin-left: 3px;
  opacity: 0.5;
}

.top-bar .entity-selector .type-ahead-wrapper input {
  background-color: #504945;
  color: #EEE;
}

.top-bar .entity-selector .type-ahead-wrapper .rc-typeahead-suggestion {
  background-color: #3c3836;
}

.top-bar .entity-selector .type-ahead-wrapper .rc-typeahead-suggestion.active {
  background-color: #665c54;
}

.top-bar .color-selector {
  display: inline-block;
  margin: 0;
}

.top-bar .color-selector .selectable-color {
  display: inline-block;
  border-radius: 3px;
  width: 30px;
  margin: 2px;
  height: 30px;
  opacity: 0.5;
}

.top-bar .color-selector .selectable-color.selected {
  opacity: 1;
  border: 1px solid orange;
}

.side-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;
  background-color: #3c3836;
  z-index: 10;
}

.side-bar .side-bar-tabs {

}

.side-bar .side-bar-tabs li {

}

.side-bar .side-bar-tabs li a {
  padding: 5px;
}

.side-bar .side-bar-tabs li.active {

}

.side-bar .side-bar-tabs li.active a {
  color: #EEE;
  background-color: #3c3836;
}

.side-bar .side-bar-tabs li a {
  color: #EEE;
}

.side-bar .projects-browser {
  overflow-y: scroll;
  height: 95%;
}

.side-bar .projects-browser .head-bar {

}

.side-bar .projects-browser .head-bar .back {
  background-color: rgb(60,60,60);
  margin: 5px;
}

.side-bar .projects-browser .head-bar .browser-selection {
  font-size: 11px;
  padding: 3px;
  border-radius: 3px;
}

.side-bar .selected-browser {
  overflow-y: scroll;
  height: 95%;
}

.side-bar .selected-browser .header {
  font-weight: bold;
  margin-left: 5px;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-overlay .spinner-outer {
  width: 104px;
  height: 104px;
  z-index: 5;
}

.loading-overlay .spinner-outer .text {
  z-index: 10;
  position: relative;
  top: 27px;
  left: 23px;
}

.loading-overlay .spinner-outer .spinner-path {
  stroke-dasharray: 170;
  stroke-dashoffset: 20;
}

.loading-overlay .spinner-outer .spinner-inner {
  animation: rotate 1.4s linear infinite;
  width: 104px;
  height: 104px;
  top: -36px;
  position: relative;
}

@keyframes rotate {

  to {
    transform: rotate(360deg);
  }

}