body {
    font-size: 11px !important;
}
.diagram-layer > * {
     height: 100%
}

.diagram-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}

.entity-selector{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 3%;
    margin-left: -300px;
}

.namespace-name {
    font-weight: bold;
}

.project-name {
    font-style: italic;
    opacity: 0.5;
    margin-left: 5px;
}

.rc-typeahead-suggestion {
    background-color: white;
}

.side-bar {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 250px;
    height: 601px;
    background: white;
    z-index: 5;
    overflow-y: scroll;
}

.side-bar ul {
    list-style: none;
    padding: 0;

}

.side-bar ul li {
    background: orange;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}
